body {
  margin: 0;
  font-family: Arial, sans-serif;

  /* Beautiful gradient background */
  background: linear-gradient(135deg, #667eea, #764ba2);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glass card */
.container {
  width: 300px;
  padding: 30px;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  text-align: center;
  color:white;
}

/* Input */
input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 70%;
  margin-bottom: 10px;
}

/* Button */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.3);
  color: white;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Result */
#result {
  margin-top: 20px;
  font-size: 18px;
}